#form1{
				width: 60%;
				margin: 0 auto;
				margin-bottom: 5%;
				margin-top: 5%;	
			}
			
			#nome{
				text-align: center;
			}

			#caixa2{
				margin-top: 5%;
				margin-left: 25%;
				margin-bottom: 3%;
				clear: both;
			}
			
			#btnAlterar{			
				margin-left: 30%;
				width: 40%;
				margin-top: 30px;
			}
			
			#texto{
				font-size: 20px;
				color: black;
			}
			
			
#nav{
background: #090446;
}

.navbar .navbar-nav li a{
color: #FEB95F !important;
font-weight: 400;
padding-left: 50px !important;


}
.navbar .navbar-nav li a:hover{
color: #FEB95F !important;
font-weight: 400;
padding-left: 50px !important;
transform: scale(1);


}
.navbar-brand{
color: #FEB95F !important;
font-size: 24px;
font-weight: 700;

}

#footer{
background: #090446;

}
#corAmarelo{
color:#FEB95F ;
}

#corBranca{
color: white;
}
			
			
#botao1,#btnAlterar{
	background: #090446;
	color: #FEB95F
}
			
			span{
				color: red;
			}