body{
	background-color:#C7C7C7;
  font-family: "Segoe UI";




}
/* Navbar */
.navbar{


}
.navbar .navbar-nav li a{
  color: #95989A !important;
  font-weight: 400;
  padding-left: 50px !important;

}
.navbar .navbar-nav li a:hover{
  color: #363457 !important;
  font-weight: 400;
  padding-left: 50px !important;
  transform: scale(1);

}

.navbar-brand{
  color: #363457 !important;
  font-size: 24px;
  font-weight: 700;
}
a:link,a:visited {
	color: #FFF;
	margin-left: 
}

/*Generos */
.produtosHome ul { 
  margin: 150px auto 0; 
  padding: 0; 
  display: table;
  width: 600px;
  text-align: center;
}
.produtosHome li { 
  display: table-cell; 
  position: relative; 
  padding: 10px 0;
}
.produtosHome a {
  color: black;
  text-decoration: none;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
.produtosHome h5{
  color: black;
  font-weight: 500;
  text-transform: uppercase;
}
.produtosHome h2{
  white-space: nowrap;
  padding-right: 50%;
}


form {
  display:flex;
  flex-direction:row;
  border:1px solid grey;
  border-radius: 10px;
  padding:2px;
}

input {
  flex-grow:2;
}
.btnpesquisa {
  
  border:1px;
  border-radius: 5px;  
  background-color: #363457;
  color:#FFF;
}




.produto-carrossel {
  background: #333;
  background-size: cover;
background: linear-gradient(to right, rgba(0,0,0,0.51) 0%,rgba(0,0,0,0.4) 99%); 
}
.produto-carrossel .carousel-control {
  width: 5%;
}
.card-produto-item a {
  color: #147196;
}
.card-produto-item a:hover {
  text-decoration: none;
}
.card-produto-item .plinha {
  margin: 10px 0;
  height: 1px;
  background: #ccc;
}
@media all and (max-width: 768px) {
  .card-produto-item {
    margin-bottom: 30px;
  }
}
.card-produto-foto {
  text-align: center;
  height: 180px;
  background: #fff;
}
.card-produto-foto img {
  height: 100%;
  display: inline-block;
}
.card-produto-detalhes {
  background: #f0f0f0;
  padding: 15px;
}
.card-produto-nome h4 {
  margin-top: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.card-produto-descricao {
  color: #acacac;
}
.card-produto-descricao .active {
  color: #FFB500;
}
.card-produto-preco {
  font-size: 18px;
}


.btnPrincipal{
  background-color: #363457;
  color:#FFF;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
  margin-top: 5%;
}


/*.produto-desc ul { outline: solid 0.25rem hsla(210, 100%, 100%, 0.5); }










